/* Base application styling with a jungle-themed background */
.root {
    -fx-background-color: linear-gradient(to bottom right, #dceef1, #c4dfe6);
    -fx-background-size: cover;
    -fx-font-family: 'Arial', sans-serif;
}

/* Styling for labels with a contrasting color for visibility */
.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #005b2e; /* Light color for contrast against the dark background */
}

/* Generic button styling with jungle colors and more appropriate sizing */
.button {
    -fx-background-color: #507856; /* Deep green */
    -fx-text-fill: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 15px; /* Reduced padding */
    -fx-font-size: 12px; /* Reduced font size for button text */
}

.button:hover {
    -fx-background-color: #3e6147;
}

/* Focused text field and combo box style */
.text-field:focused, .text-area:focused, .combo-box:focused, .password-field:focused {
    -fx-border-color: #74a662;
    -fx-border-width: 2px;
}

.text-field, .text-area, .combo-box, .password-field {
    -fx-prompt-text-fill: #b6b6b6; /* Dark color for prompt text */
    -fx-background-color: white;
    -fx-border-color: #74a662;
    -fx-padding: 2px 5px;
}

/* Table cell styling */
.table-cell {
    -fx-text-fill: #000000; /* Dark text color for visibility */
    -fx-padding: 7px; /* Add padding for better readability */
}

/* DatePicker styling */
.date-picker {
    -fx-background-color: white;
    -fx-border-color: #74a662;
}

/* Pane that contains buttons should be styled to align them properly */
.pane {
    -fx-alignment: center;
}

/* Specific styling for the number of visitors ComboBox */
#numberVisitorsCombo {
    -fx-background-color: white;
    -fx-border-color: #74a662;
    -fx-padding: 2px 5px;
}
